<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Final Exam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- css 파일 지정-->
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Final Exam</h2>
        </div>
        <div class="main">
            <div>
                <button id='btn' onclick="led()">Measure Distance</button>
            </div>
        </div>
        <div id="result">
        </div>
    </div>
    <script>
        function led(){
            
            fetch("/led")                                                    /* 해당 경로 파일을 실행 */
            .then(response=>response.text())
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");
                result.innerHTML = distance;
                btnElement.innerHTML = html;
                               
            });
        } 
    </script>
</body>
</html>